
.content {
    height: 70vh; 
}
  
.footer-59391 {
    border-top: 1px solid #efefef;
    background-color: #fff;
    font: 700 16px "Space Mono", monospace;
    padding: 4rem 0; 
    background-color: #4861DF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='254' height='254' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23506EDF' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23476FDF'%3E%3Ccircle cx='769' cy='229' r='8'/%3E%3Ccircle cx='539' cy='269' r='8'/%3E%3Ccircle cx='603' cy='493' r='8'/%3E%3Ccircle cx='731' cy='737' r='8'/%3E%3Ccircle cx='520' cy='660' r='8'/%3E%3Ccircle cx='309' cy='538' r='8'/%3E%3Ccircle cx='295' cy='764' r='8'/%3E%3Ccircle cx='40' cy='599' r='8'/%3E%3Ccircle cx='102' cy='382' r='8'/%3E%3Ccircle cx='127' cy='80' r='8'/%3E%3Ccircle cx='370' cy='105' r='8'/%3E%3Ccircle cx='578' cy='42' r='8'/%3E%3Ccircle cx='237' cy='261' r='8'/%3E%3Ccircle cx='390' cy='382' r='8'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
}

.footer-59391 .site-logo a {
    font-size: 30px;
    color: #fff;
    font-weight: 900; 
}

.footer-59391 .nav-links li {
    display: inline-block; 
}

.footer-59391 .nav-links li a {
    color: #fff;
    padding: 10px; 
    text-decoration: none;
}

.footer-59391 .nav-links li a:hover {
    color: var(--id-secondary); 
}

.footer-59391 .nav-links.nav-left li:first-child {
    padding-left: 0; 
}

.footer-59391 .nav-links.nav-right li:last-child {
    padding-right: 0;
}

.footer-59391 .copyright {
    border-top: 1px solid #efefef;
    padding-top: 50px;
    text-align: center;
    color: #fff; 
}

.footer-59391 .subscribe .form-group {
    margin-bottom: 0;
    padding-bottom: 0;
    position: relative; 
}

.footer-59391 .subscribe .form-group input[type="email"] {
    height: 45px;
    border: none;
    background: #ffffff; 
}

.footer-59391 .subscribe .form-group input[type="email"]:focus, .footer-59391 .subscribe .form-group input[type="email"]:active {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none; 
}

.footer-59391 .subscribe .form-group input[type="email"]::-webkit-input-placeholder {
    color: #b3b3b3;
    font-size: 14px; 
}

.footer-59391 .subscribe .form-group input[type="email"]::-moz-placeholder {
    color: #b3b3b3;
    font-size: 14px; 
}

.footer-59391 .subscribe .form-group input[type="email"]:-ms-input-placeholder {
    color: #b3b3b3;
    font-size: 14px; 
}

.footer-59391 .subscribe .form-group input[type="email"]:-moz-placeholder {
    color: #b3b3b3;
    font-size: 14px; 
}

.footer-59391 .subscribe .form-group button {
    position: absolute;
    border: none;
    background: none;
    font-size: 1.5rem;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    top: .5rem;
    right: .3rem;
    line-height: 0; 
}

.footer-59391 .subscribe .form-group button:focus, .footer-59391 .subscribe .form-group button:active {
    outline: none; 
}

.footer-59391 .social li {
    display: inline-block;
    position: relative; 
}

.footer-59391 .social li a {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    margin: 0;
    padding: 0;
    background-color: #e6e6e6;
    color: #333333; 
}

.footer-59391 .social li a > span {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
.footer-59391 .social li a:hover {
    color: #3e64ff; }

#bot-logo a{
    font: 700 32px 'Mulish', sans-serif;
    color: #fff;
    text-decoration: none;
}

.footer-copy p{
    color: #fff;
    font: 700 12px "Space Mono", monospace;
}
  
#social-ID{
    display: flex; 
    align-items: center; 
    justify-content: center;
    padding: 30%;
}

.bottom-logo img{
    width: 30px;
}